In [1]:
import mysql.connector as sql
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import db_info

# Análise Exploratória de Dados (EDA) da tabelas.

### Faço uma análise de cada tabela para entender melhor como são constituídas e se algum campo precisa de tratamento.

## Análise da Tabela de Pedidos

In [2]:
db_connection = sql.connect(host=db_info.HOST, database=db_info.DATABASE, user=db_info.USER, password=db_info.PASS)
pedidos = pd.read_sql("SELECT * FROM pedidos", con=db_connection)
db_connection.close()

In [3]:
pedidos.head()

   id_pedido  id_produto  quantidade         data_compra
0          1          32           3 2021-01-04 21:15:00
1          2          50           9 2021-01-05 00:15:00
2          3          39           3 2021-01-13 15:24:00
3          4          39           1 2021-01-05 12:16:00
4          5          19           7 2021-01-02 22:07:00

## Vejo que não há valores faltantes na tabela

In [4]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139999 entries, 0 to 139998
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id_pedido    139999 non-null  int64
 1   id_produto   139999 non-null  int64
 2   quantidade   139999 non-null  int64
 3   data_compra  139999 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 4.3 MB

## Olhando o resumo do campo 'quantidade' não há nada que chame a atenção.

Nenhum produto tem o valor 0, ou um valor extremamente alto.

In [5]:
pedidos.describe()

           id_pedido     id_produto     quantidade
count  139999.000000  139999.000000  139999.000000
mean    70000.000000      34.211694       5.494468
std     40414.374505      19.475913       2.871065
min         1.000000       1.000000       1.000000
25%     35000.500000      17.000000       3.000000
50%     70000.000000      34.000000       5.000000
75%    104999.500000      51.000000       8.000000
max    139999.000000      68.000000      10.000000

## Testando o campo de data:

O Pandas tem a função to_datetime(), que converte todos os valores da coluna para um objeto datetime.

Posso utilizar essa função para verificar se a coluna tem algum valor inválido para data

In [6]:
pedidos['data_compra'] = pd.to_datetime(pedidos['data_compra'])
pedidos['data_compra'].head()

0   2021-01-04 21:15:00
1   2021-01-05 00:15:00
2   2021-01-13 15:24:00
3   2021-01-05 12:16:00
4   2021-01-02 22:07:00
Name: data_compra, dtype: datetime64[ns]

O campo 'data_compra' foi convertido sem problemas.

Significa que tem somente valores válidos para data.