In [1]:
import mysql.connector as sql
import pandas as pd
import db_info

# Análise Exploratória de Dados (EDA) da tabelas.

### Faço uma análise de cada tabela para entender melhor como são constituídas e se algum campo precisa de tratamento.

## Análise da Tabela de Vendedores

In [2]:
db_connection = sql.connect(host=db_info.HOST, database=db_info.DATABASE, user=db_info.USER, password=db_info.PASS)
vendedores = pd.read_sql("SELECT * FROM vendedores", con=db_connection)
db_connection.close()

## O campo 'nome_vendedor' precisa de tratamento para ficar padronizando.

Seguindo os outros projetos vou deixar os tratamentos para serem feitos no Power BI.

In [3]:
vendedores

   id_vendedor      nome_vendedor
0            1     barbara Novais
1            2  JEFFERSON MOREIRA
2            3     Joaquim_adalto
3            4    Marcia Ferreira
4            5      Aline SilvaAA
5            6     JOAQUIM ADALTO