In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Análise Exploratória de Dados (EDA) da tabelas.

### Faço uma análise de cada tabela para entender melhor como são constituídas e se algum campo precisa de tratamento.

## Análise da tabela Produtos.

In [2]:
produtos = pd.read_csv('../dados/Tabela - Produtos.csv')

In [3]:
produtos.head()

             categoria_produto  preço
0  1-agro_industria_e_comercio    155
1                  2-alimentos     58
2                      3-artes     84
3         4-artes_e_artesanato     99
4          5-artigos_de_festas    198

### Vemos que não há dados faltantes na tabela.

Quando analisei a tabela de estoque ví que os produtos estavam representados somente por código.

Na tabela de produtos vejo que os produtos estão abstraidos em categorias.

In [4]:
produtos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   categoria_produto  66 non-null     object
 1   preço              66 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.2+ KB

### Olhando o resumo do campo 'Preço' não há nada que chame a atenção.

Nenhum produto tem o valor 0, ou um valor extremamente alto.

In [5]:
produtos.describe()

            preço
count   66.000000
mean   122.409091
std     46.426775
min     52.000000
25%     84.000000
50%    118.500000
75%    168.000000
max    198.000000

Olhando o campo 'categoria_produto' vejo que nesse campo estão concatenados o código com a descrição da categoria.

O correto seria separá-los em dois campos. Porém não irei fazer isso no Notebook.

Farei essa e outras alterações nos dados no projeto do Power BI. Assim caso haja mudanças futuras, como a adição de uma nova categoria de produtos, o tratamento dos novos dados ficarão centralizados em um único lugar.