In [1]:
import pandas as pd

# Análise Exploratória de Dados (EDA) da tabelas.

### Faço uma análise de cada tabela para entender melhor como são constituídas e se algum campo precisa de tratamento.¶

## Análise da tabela Veículos

In [2]:
veiculos = pd.read_csv('../dados/Tabela - Veículos.csv')

In [3]:
veiculos.head()

  ID veículos         Tipo   Status
0       VEH01        carro  Ocupado
1       VEH02        carro  Ocupado
2       VEH03  caminhonete  Ocupado
3       VEH04  caminhonete  Ocupado
4       VEH05        carro  Ocupado

## Vemos que não há dados faltantes na tabela.

In [4]:
veiculos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID veículos  50 non-null     object
 1   Tipo         50 non-null     object
 2   Status       50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [5]:
veiculos['Tipo'].value_counts()

carro          18
caminhonete    18
moto           14
Name: Tipo, dtype: int64

In [6]:
veiculos['Status'].value_counts()

Ocupado       42
Disponível     8
Name: Status, dtype: int64

Vejo que há três tipos de veículos na empresa: carro, caminhonete e moto. E somente dois estatus possíveis> Ocupado e Disponível.

Não parece haver nenhuma inconsistência nos dados.