In [1]:
import pandas as pd

# Análise Exploratória de Dados (EDA) da tabelas.

### Faço uma análise de cada tabela para entender melhor como são constituídas e se algum campo precisa de tratamento.

## Análise da tabela Pedidos

In [2]:
pedidos = pd.read_csv('../dados/Tabela - Pedidos.CSV', sep=';', encoding='latin-1')

In [3]:
pedidos.head()

,ID Pedido,ID Produto,Quantidade,ID Veículo,Status do pedido,Data da compra,Data de entrega,Data previsão,Latitude,Longitude,UF da entrega
0,1,32,3,19,Entregue,1/4/21 21:15,22/01/2021 21:15,23/01/2021 21:15,-22.19,-48.79,SP
1,2,50,9,42,Entregue,1/5/21 0:15,14/01/2021 00:15,25/01/2021 00:15,-22.19,-48.79,SP
2,3,39,3,19,Entregue,1/13/21 15:24,20/01/2021 15:24,02/02/2021 15:24,-20.51,-54.54,MS
3,4,39,1,16,Entregue,1/5/21 12:16,16/01/2021 12:16,23/01/2021 12:16,-6.60,-42.28,PI
4,5,19,7,14,Entregue,1/2/21 22:07,17/01/2021 22:07,18/01/2021 22:07,-22.25,-42.66,RJ

## Vemos que não há dados faltantes na tabela.

In [4]:
pedidos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145001 entries, 0 to 145000
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID Pedido         145001 non-null  int64
 1   ID Produto        145001 non-null  int64
 2   Quantidade        145001 non-null  int64
 3   ID Veículo        145001 non-null  int64
 4   Status do pedido  145001 non-null  object
 5   Data da compra    145001 non-null  object
 6   Data de entrega   145001 non-null  object
 7   Data previsão     145001 non-null  object
 8   Latitude          145001 non-null  float64
 9   Longitude         145001 non-null  float64
 10  UF da entrega     145001 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 12.2+ MB

## O  campo 'Quantidade' não parece ter valores estranhos.

In [5]:
pedidos[['Quantidade']].describe()

          Quantidade
count  145001.000000
mean        5.493410
std         2.871422
min         1.000000
25%         3.000000
50%         5.000000
75%         8.000000
max        10.000000

## A primeira coisa que chama a atenção são as datas:

In [6]:
pedidos[['Data da compra', 'Data de entrega', 'Data previsão']].head()

  Data da compra   Data de entrega     Data previsão
0   1/4/21 21:15  22/01/2021 21:15  23/01/2021 21:15
1    1/5/21 0:15  14/01/2021 00:15  25/01/2021 00:15
2  1/13/21 15:24  20/01/2021 15:24  02/02/2021 15:24
3   1/5/21 12:16  16/01/2021 12:16  23/01/2021 12:16
4   1/2/21 22:07  17/01/2021 22:07  18/01/2021 22:07

As Datas de Previsão e Entrega parecem não apresentar problemas, mas a Data da Compra está em um formato diferente.

A Data da compra na terceira linha, '1/13/21 15:24', indica que este campo está no formato americano.

Isso também será tratado no Power BI