In [1]:
import pandas as pd
import numpy as np
import locale
locale.setlocale(locale.LC_ALL, 'pt_BR.UTF-8')

'pt_BR.UTF-8'

# Análise dos Valores

## Devido aos valore das dua Tabelas não parecerem consistentes estou fazendo essa análise para entender como se relacionam.

In [2]:
dados_dispositivos = pd.read_json('../dados/Tabela_dispositivos.json')
dados_idade_genero = pd.read_json("../dados/Tabela_idade_e_genero.json")

### Como os dados da Tabela estão no padrão pt_BR, com a ',' como separador decimal, o python entende os valor como String, e não como Float.

Por isso faço o processo de localização para serem entendidos como Float pelo python

In [3]:
def convert(value):
    if not value:
        return np.nan
    return locale.atof(value)

In [4]:
dados_dispositivos['Quantia gasta (BRL)'] = dados_dispositivos['Quantia gasta (BRL)'].map(convert)
dados_dispositivos['Cliques em links'] = dados_dispositivos['Cliques em links'].map(convert)
dados_dispositivos['Visualizações por página'] = dados_dispositivos['Visualizações por página'].map(convert)
dados_dispositivos['Compras no website'] = dados_dispositivos['Compras no website'].map(convert)
dados_dispositivos['Compras no facebook'] = dados_dispositivos['Compras no facebook'].map(convert)
dados_dispositivos['Adicionados ao carrinho'] = dados_dispositivos['Adicionados ao carrinho'].map(convert)
dados_dispositivos['Valor de conversão adicionado ao carrinho'] = dados_dispositivos['Valor de conversão adicionado ao carrinho'].map(convert)
dados_dispositivos['Checkouts Iniciados'] = dados_dispositivos['Checkouts Iniciados'].map(convert)
dados_dispositivos['Valor de conversão de checkouts iniciados'] = dados_dispositivos['Valor de conversão de checkouts iniciados'].map(convert)
dados_dispositivos['Valor de conversão de compras'] = dados_dispositivos['Valor de conversão de compras'].map(convert)
dados_dispositivos['Compras'] = dados_dispositivos['Compras'].map(convert)
dados_idade_genero['Quantia gasta (BRL)'] = dados_idade_genero['Quantia gasta (BRL)'].map(convert)
dados_idade_genero['Cliques no link'] = dados_idade_genero['Cliques no link'].map(convert)
dados_idade_genero['Visualizações por página'] = dados_idade_genero['Visualizações por página'].map(convert)
dados_idade_genero['Compras no website'] = dados_idade_genero['Compras no website'].map(convert)
dados_idade_genero['Compras no facebook'] = dados_idade_genero['Compras no facebook'].map(convert)
dados_idade_genero['Adicionados ao carrinho'] = dados_idade_genero['Adicionados ao carrinho'].map(convert)
dados_idade_genero['Valor de conversão adicionado ao carrinho'] = dados_idade_genero['Valor de conversão adicionado ao carrinho'].map(convert)
dados_idade_genero['Checkouts Iniciados'] = dados_idade_genero['Checkouts Iniciados'].map(convert)
dados_idade_genero['Valor de conversão de checkouts iniciados'] = dados_idade_genero['Valor de conversão de checkouts iniciados'].map(convert)
dados_idade_genero['Valor de conversão de compras'] = dados_idade_genero['Valor de conversão de compras'].map(convert)
dados_idade_genero['Compras'] = dados_idade_genero['Compras'].map(convert)

## Visualização Inicial dos Dados

In [5]:
dados_dispositivos.head()

,Dia,Plataforma do dispositivo,Colocação,Plataforma,Alcance,Impressões,Quantia gasta (BRL),Cliques em links,Visualizações por página,Compras no website,Compras no facebook,Adicionados ao carrinho,Valor de conversão adicionado ao carrinho,Checkouts Iniciados,Valor de conversão de checkouts iniciados,Valor de conversão de compras,Compras
0,2021-07-31,All,All,All,12440.0,16114.0,72.66,141.0,101.0,6.0,NaN,48.0,5277.8,30.0,NaN,853.59,6.0
1,2021-07-31,mobile_web,All,All,104.0,170.0,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-07-31,mobile_web,feed,All,104.0,170.0,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-07-31,mobile_web,feed,facebook,104.0,170.0,0.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-07-31,mobile_app,All,All,12236.0,15679.0,70.62,136.0,98.0,6.0,NaN,48.0,5277.8,30.0,NaN,853.59,6.0

In [6]:
dados_idade_genero.head()

,Idade,Gênero,Dia,FIELD4,Alcance,Impressões,Quantia gasta (BRL),Cliques no link,Visualizações por página,Compras no website,Compras no facebook,Adicionados ao carrinho,Valor de conversão adicionado ao carrinho,Checkouts Iniciados,Valor de conversão de checkouts iniciados,Valor de conversão de compras,Compras
0,45-54,Feminino,2021-07-31,,1116.0,1489.0,9.42,24.0,20.0,NaN,NaN,1.0,63.9,1.0,NaN,NaN,NaN
1,35-44,Outros,2021-07-31,,4.0,5.0,0.03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,45-54,Outros,2021-07-31,,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,65+,Masculino,2021-07-31,,24.0,36.0,0.11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25,Outros,2021-07-31,,4.0,4.0,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Depois de explorar os dados de um único dia consegui entender como os dados da Tabela 'Dispositívos' são agregados.

Os números de Compras parecem duplicados, filtrando as duplicidades chegamos aos mesmos valores.

In [7]:
dados_dispositivos[dados_dispositivos['Dia']=='2021-07-31'][['Plataforma do dispositivo','Colocação','Plataforma','Compras']]

   Plataforma do dispositivo          Colocação Plataforma  Compras
0                        All                All        All      6.0
1                 mobile_web                All        All      NaN
2                 mobile_web               feed        All      NaN
3                 mobile_web               feed   facebook      NaN
4                 mobile_app                All        All      6.0
5                 mobile_app        marketplace        All      NaN
6                 mobile_app        marketplace   facebook      NaN
7                 mobile_app  instagram_explore        All      1.0
8                 mobile_app  instagram_explore  instagram      1.0
9                 mobile_app  instagram_stories        All      1.0
10                mobile_app  instagram_stories  instagram      1.0
11                mobile_app               feed        All      4.0
12                mobile_app               feed   facebook      3.0
13                mobile_app               feed  instagram      1.0
14                mobile_app        video_feeds        All      NaN
15                mobile_app        video_feeds   facebook      NaN
16                mobile_app    messenger_inbox        All      NaN
17                mobile_app    messenger_inbox  messenger      NaN
18                mobile_app     instream_video        All      NaN
19                mobile_app     instream_video   facebook      NaN
20                mobile_app    instant_article        All      NaN
21                mobile_app    instant_article   facebook      NaN
22                mobile_app   facebook_stories        All      NaN
23                mobile_app   facebook_stories   facebook      NaN
24                   desktop                All        All      NaN
25                   desktop               feed        All      NaN
26                   desktop               feed   facebook      NaN
27                   desktop  right_hand_column        All      NaN
28                   desktop  right_hand_column   facebook      NaN

In [8]:
soma_compras_dia_por_dispositivo = dados_dispositivos[(dados_dispositivos['Dia']=='2021-07-31')&
                                                      (dados_dispositivos['Plataforma do dispositivo']=='All')&
                                                      (dados_dispositivos['Colocação']=='All')&
                                                      (dados_dispositivos['Plataforma']=='All')]['Compras'].sum()
soma_compras_total_dispositivos = dados_dispositivos[(dados_dispositivos['Plataforma do dispositivo']=='All')&
                                                     (dados_dispositivos['Colocação']=='All')&
                                                     (dados_dispositivos['Plataforma']=='All')]['Compras'].sum()
soma_compras_dia_idade_genero = dados_idade_genero[dados_idade_genero['Dia']=='2021-07-31']['Compras'].sum()
soma_compras_total_idade_genero = dados_idade_genero['Compras'].sum()

In [9]:
print(f"Total de Vendas pela Tabela Dispositivos, no dia 31-7-2021: {soma_compras_dia_por_dispositivo}")
print(f"Total de Vendas pela Tabela Idade e Gênero, no dia 31-7-2021: {soma_compras_dia_idade_genero}")
print(f"Total de Vendas da Tabela Dispositivos: {soma_compras_total_dispositivos}")
print(f"Total de Vendas da Tabela Idade e Gênero: {soma_compras_total_idade_genero}")

Total de Vendas pela Tabela Dispositivos, no dia 31-7-2021: 6.0
Total de Vendas pela Tabela Idade e Gênero, no dia 31-7-2021: 6.0
Total de Vendas da Tabela Dispositivos: 295.0
Total de Vendas da Tabela Idade e Gênero: 295.0